@import url("../bower_components/bootstrap/dist/css/bootstrap.css");
@import url("../bower_components/components-font-awesome/css/font-awesome.css");
@import url("styles.css");

*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

body, html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
}